
body {
  margin: 0px 16px;
  padding: 0px;
}

section {
  height: 88px;
  height: 88px;
  max-width: 320px;
  position: relative;
  position: relative;

  input {
    margin: 0px;
    max-width: 240px;
    
    
  }

  button {
    margin: 0px;
    width: 48px;
  }

  #error {
    margin: 0px;
    color: rgb(243, 25, 25);
  }

  #provided {
    box-sizing: border-box;
    padding: 2px 6px 2px 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.904);
    display: block;
    position: fixed;
  #provided {
    box-sizing: border-box;
    padding: 2px 6px 2px 4px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.904);
    display: block;
    position: fixed;
  }
}

ul {
  margin: 16px;
}

li {
  list-style: none;
}
}